.navbar-brand{
  list-style: none;
  a{
    text-decoration: none;
    color: #fff;
    &:focus, &:hover{
      text-decoration: none;
      color:#fff;
    }
  }
}
@media (min-width: 768px){
  .navbar {
    border-radius: 0px!important;
}
}
